body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    background: linear-gradient(180deg, #BD2F46, #97437F);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nm {
    margin: 0;
}

@keyframes logo {
    from {
        flex-grow: 1;
    }

    to {
        flex-grow: 0;
    }
}

.logo {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    animation: logo 0.5s 2s ease-in-out forwards;
    padding-bottom: 10px;
    flex-grow: 1;
}

.logo2 {
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-grow: 0;
}

.logo img:nth-child(2) {
    animation: opacity 1s 3s ease-in-out reverse forwards;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes left {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes right {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0px);
    }
}

.main {
    flex-grow: 0;
    flex-basis: 0px;
    animation: opacity 1s 3s ease-in-out both;
    overflow: hidden;
}

.main2 {
    flex-grow: 0;
    flex-basis: 0px;
    overflow: hidden;
}

.main>div:nth-child(1) {
    animation: left 1s 3s ease-in-out both;
}

div .btn {
    flex-grow: 1;
}