header.row div {
    font-size: 24px;
    text-align: center;
}

header {
    align-items: center;
    background-color: #d82d48 !important;
    color: #ffffff !important;
    overflow: hidden;
    position: fixed;
    min-height: 40px;
    left: 0;
    right: 0;
}

main {
    position: relative;
    top: 50px;
    overflow-y: scroll;
    padding-bottom: 60px;
    z-index: 0;
}

.card {
    flex-basis: 160px;
    background-color: #f8f8f8 !important;
    margin-top: 10px;
    min-height: 150px;
}

body {
    background-color: #545454 !important;
}

.imgHolder {
    overflow: hidden;
    flex-basis: 160px;
}

.meta {
    flex-grow: 1;
    flex-basis: 0px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.imgHolder img {
    object-fit: cover;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.single .title {
    color: #ffffff;
    z-index: 81;
    position: absolute;
    font-family: barlowB;
    top: 20vh;
    padding: 10px;
    background-color: #df3e58;
    width: 40vw;
}

.single {
    flex-grow: 1;
}

.single .postImage {
    overflow: hidden;
    height: 60vh;
}

.single .content {
    background-color: #ffffff;
    padding: 5px 10px;
}

.passage div {
    min-width: 85vw;
    margin-right: 10vw;
    position: relative;
}

.passage {
    flex-wrap: nowrap;
    background-color: #f9f9f9;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 33px;
    overflow: scroll;
}

.religion {
    position: fixed;
    z-index: 408;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
}

.religion button {
    text-align: center;
    flex-grow: 1;
}

.bible {
    transition: all 0.3s ease-in-out;
}

.quran {
    transition: all 0.3s ease-in-out;
}