[v-cloak] {
    display: none;
}

.btn {
    font-size: 24px;
    background-color: rgba(195, 44, 44, 0) !important;
    border-color: rgba(0, 0, 0, 0);
    color: #ffffff !important;
    padding: 10px 20px;
}

.wrapper {
    margin: 0 20px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    z-index: 10;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;

    /* background: linear-gradient(180deg, #BD2F46, #97437F); */
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: icomoon;
    src: url(../font/icomoon.ttf);
}

.i {
    font-family: "icomoon";
}

@font-face {
    font-family: barlow;
    src: url(../font/Barlow-Regular.ttf);
}

@font-face {
    font-family: barlowL;
    src: url(../font/Barlow-Light.ttf);
}

@font-face {
    font-family: barlowM;
    src: url(../font/Barlow-Medium.ttf);
}

@font-face {
    font-family: barlowT;
    src: url(../font/Barlow-Thin.ttf);
}

@font-face {
    font-family: barlowEL;
    src: url(../font/Barlow-ExtraLight.ttf);
}

@font-face {
    font-family: barlowB;
    src: url(../font/Barlow-Bold.ttf);
}

* {
    font-family: barlow;
}

.regular {
    font-family: barlow;
}

.light {
    font-family: barlowL;
}

.medium {
    font-family: barlowM;
}

.thin {
    font-family: barlowT;
}

.extralight {
    font-family: barlowEL;
}

.bold {
    font-family: barlowB;
}

#app {
    flex-grow: 1;
}

.nm {
    margin: 0;
}

.menu {
    position: absolute;
    z-index: 160;
    background-color: rgba(0, 0, 0, 0.54) !important;
    width: 100vw;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    display: block;
}

.menu .menuSide {
    width: 70vw;
    background-color: #18242f !important;
    padding-top: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    left: 0;
}

.menu.trans {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: -33;
}

.menu .menuSide.trans {
    transition: all 0.5s ease-in-out;
    left: -300px;
}

::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none;
}

.religion div {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 10px;
    padding-top: 10px;
}

.back {
    position: fixed;
    z-index: 140;
    top: 80px;
}

.meta p {
    margin-top: 6px;
}

.postImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.settings {
    width: 60vw;
    position: absolute;
    top: 25vh;
    background-color: #ffffff !important;
    z-index: 1;
    left: 17vw;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.settingClose {
    transition: all 0.3s ease-in-out;
    top: -40vh;
}

.open {
    height: 100px;
}