body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    background: linear-gradient(180deg, #BD2F46, #97437F);
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.nm {
    margin: 0;
}

@keyframes intro {
    from {
        flex-grow: 10;
    }
    to {
        flex-grow: 0;
    }
}

.logo {
    justify-content: center;
    align-items: center;
    animation: intro 1s ease-in-out;
    flex-grow: 0;
    padding-top: 30px;
    padding-bottom: 10px;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes left {
    from {
        left: -300px;
    }
    to {
        left: 0;
    }
}